.sliding-container {
    padding-left: 5%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    padding: 10px 10;
    padding-bottom: 5%;
}

.sliding-menu {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 94%;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    min-width: 100px;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: top;
    border-radius: 5px;
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.menu-item.selected {
    filter: none;
}

.menu-item:not(.selected) {
    filter: blur(0.00em);
}

.item-label {
    margin-top: 5px;
    text-align: center;
    font-size: small;
    font-weight: bolder;
    filter: none;

}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.slide-button.left {
    left: 10px;
}

.slide-button.right {
    right: 0;
}

.slected-menu-item {
    padding-left: 40%;
    padding-right: 40%;
}

.veg-label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.veg-icon {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.inner-circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.veg-text {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: black;
}