.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b2f;
    height: 75px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    z-index: 1000;
}

.header {

    /* Adjust the height as needed */
    background-color: white;
    /* Adjust the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* Adjust padding as needed */
    z-index: 1000;
}

.navbar-left {
    padding-left: 75px;
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links a {
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar-right a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.login-btn {
    background-color: #e50914;
    padding: 5px 10px;
    border-radius: 3px;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.notification-icon {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

.search-icon {
    width: 20px;
    height: 20px;
    /* background-image: url('search-icon.png'); */
    background-size: cover;
    margin-left: 10px;
}

.activeMenu {
    padding-bottom: 15px;
    border-color: #e01933;
    border-style: solid;
    border-width: 0 0 .1875rem;
}

.btn-link {
    padding: 10px;
    background-color: #5ab3ee;
}

.btn-link:hover {
    text-decoration: none;
}

.searchbox {
    border: none;
    background: #f4f5fb;
    border-radius: 1000px;
    height: 40px;
    margin-top: 15px;
    text-indent: 20px;
    font-size: 14px;
    color: #6e6d7a;
}